body{
    padding: 0;
    margin: 0;
    background: 50% 0 fixed #141316;
    background-image: repeating-linear-gradient(-45deg,#141316,#141316 5px,#1a191e 5px,#1a191e 10px);
    background-size: 42px 42px;
    color: #a8a8aa;
    font-family: Georgia;
}

.MRight
{
    background: #1a191e;
}

.CItem{
    overflow: hidden;
    padding: 0px;
    height: 200px;
    width: 25%;
    float: left;
    background: #1a191e;
}

.Item-col-2 {
    width: 50%;
}

.Item-row-2 {
    height: 400px;
}

.CIImage{
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.Item-row-2 .CIImage{
    height: 400px;
}

.CIInfo{
    position: relative;
    margin-top: -53px;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background: rgba(0,0,0,.5);
    line-height: 10px;
}

.CIInfo .CIText{
    display: none;
}

article h4{
    font-style: italic;
    font-family: georgia;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
}

article .CICategory {
    color: #FB0;
    line-height: 2;
}

article .CIImage img {
    max-height: 280px;
    max-width: 360px;
}

article.Item-col-2 .CIImage img {
    max-height: 500px;
    max-width: 700px;
}

article.Item-row-2 .CIImage img {
    max-height: 500px;
    max-width: 700px;
}

.CIInfo .CICategory {
    font-size: 13px;
    font-family: tahoma;
    line-height: 12px;
}

.CITitle {
    height: 21px;
    overflow: hidden;
}

.CItemColorRed{
    background: #ff0000;
}

.CItemColorRed .CITitle h4{
    font-size: 20px;
}

.CIInfoColor {
    text-align: center;
    font-style: italic;
    font-family: georgia;
}

.CIInfoColor h4 {
    font-size: 85px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

article .CIInfoColor .CICategory {
    color: #fff;
    font-weight: bold;
}

.CIInfoColor .see-all{
    margin-top: 10px;
    border-top: 1px solid rgba(255,255,255, 0.6);
    margin: 20px 20px;
    padding-top: 9px;
    color: #fff;
}

.row {
    margin: 0px;
}

.PaginationBlock{
    background: #fff;
    width: 100%;
    float: left;
    text-align: center;
}

.pagination>li>a{
    border: 0px;
    color: #000;
}

.pagination .active a{
    background: #f2bb09;
    color: #000;
    border-radius: 4px;
}

footer {
    padding: 30px 20px 60px 20px;
}

footer ul{
    padding: 0px;
}

footer ul li {
    border-right: 1px solid rgba(255,255,255,.2);
    float: left;
    list-style: none;
    padding: 3px 15px;
}

header{
    text-align: center;
    margin: 20px 0px;
}

header h1{
    font-style: italic;
    font-size: 32px;
}

header b{
    color: #FFB200;
    font-style: normal;
    font-size: 36px;
}

header strong{
    color: #FFf;
    text-transform: uppercase;
    font-size: 36px;
    font-style: normal;
}