body{
    padding: 0;
    margin: 0;
    background: 50% 0 fixed #141316;
    background-image: repeating-linear-gradient(-45deg,#141316,#141316 5px,#1a191e 5px,#1a191e 10px);
    background-size: 42px 42px;
    color: #a8a8aa;
}

.MRight
{
    background: #1a191e;
}

.CItem{
    overflow: hidden;
    padding: 0px;
}

.CIImage{
    height: 200px;
    overflow: hidden;
}

.CIInfo{
    position: absolute;
    margin-top: -100px;
}

.CIInfo div{
    display: none;
}

article h4{
    font-style: italic;
    font-family: georgia;
    color: #fff;
}

article .CICategory {
    color: #FB0;
    line-height: 2;
}